src/main/resources/appliances_db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="libraryType">
    <xs:sequence>
      <xs:element type="xs:string" name="POWER_CONSUMPTION" minOccurs="0"/>
      <xs:element name="WEIGHT" minOccurs="0"/>
      <xs:element name="CAPACITY" minOccurs="0"/>
      <xs:element type="xs:string" name="DEPTH" minOccurs="0"/>
      <xs:element name="FREEZER_CAPACITY" minOccurs="0"/>
      <xs:element name="OVERALL_CAPACITY" minOccurs="0"/>
      <xs:element name="HEIGHT" minOccurs="0"/>
      <xs:element name="WIDTH" minOccurs="0"/>
      <xs:element name="BATTERY_CAPACITY" minOccurs="0"/>
      <xs:element name="OS" minOccurs="0"/>
      <xs:element name="DISPLAY_INCHES" minOccurs="0"/>
      <xs:element name="MEMORY_ROM" minOccurs="0"/>
      <xs:element name="SYSTEM_MEMORY" minOccurs="0"/>
      <xs:element name="CPU" minOccurs="0"/>
      <xs:element name="DISPLAY_INCHS" minOccurs="0"/>
      <xs:element name="FILTER_TYPE" minOccurs="0"/>
      <xs:element name="BAG_TYPE" minOccurs="0"/>
      <xs:element type="xs:string" name="WAND_TYPE" minOccurs="0"/>
      <xs:element name="MOTOR_SPEED_REGULATION" minOccurs="0"/>
      <xs:element name="CLEANING_WIDTH" minOccurs="0"/>
      <xs:element name="FLASH_MEMORY_CAPACITY" minOccurs="0"/>
      <xs:element name="COLOR" minOccurs="0"/>
      <xs:element name="NUMBER_OF_SPEAKERS" minOccurs="0"/>
      <xs:element name="FREQUENCY_RANGE" minOccurs="0"/>
      <xs:element name="CORD_LENGTH" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typeinfo" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="librarysType">
    <xs:sequence>
      <xs:element type="libraryType" name="library" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>